.gallery {
  flex-grow: 1;

  .gallery-item {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      height: auto;
      width: 100%;
    }
  }
}

@media (max-width: $layoutWidthS) {
  .gallery {
    .gallery-item {
      width: $wrapperWidthXS / $galleryColumnsXS;

      // &:nth-child(#{$galleryColumnsXS}n + 1) {
      //   img {
      //     margin-bottom: $galleryMarginXS;
      //     margin-right: $galleryMarginXS;
      //   }
      // }
    }
  }
}
@media (min-width: $layoutWidthS) {
  .gallery {
    .gallery-item {
      width: $wrapperWidthS / $galleryColumnsS;
    }

    // &:nth-child(#{$galleryColumnsS}n + 1) {
    //   img {
    //     margin-bottom: $galleryMarginS;
    //     margin-right: $galleryMarginS;
    //   }
    // }
  }
}
@media (min-width: $layoutWidthM) {
  .gallery {
    .gallery-item {
      width: ($wrapperWidthM - ($galleryMargin * $galleryColumnsM)) / $galleryColumnsM;
    }

    // &:nth-child(2n + 1) {
    //   img {
    //     margin-bottom: $galleryMarginM;
    //     margin-right: $galleryMarginM;
    //   }
    // }
  }
}
@media (min-width: $layoutWidthL) {
  .gallery {
    .gallery-item {
      width: ($wrapperWidthL - ($galleryMargin * $galleryColumnsL)) / $galleryColumnsL;
    }

    // &:nth-child(#{$galleryColumnsL}n + 1) {
    //   img {
    //     margin-bottom: $galleryMarginL;
    //     margin-right: $galleryMarginL;
    //   }
    // }
  }
}
@media (min-width: $layoutWidthXL) {
  .gallery {
    .gallery-item {
      width: ($wrapperWidthXL - ($galleryMargin * $galleryColumnsXL)) / $galleryColumnsXL;
    }

    // &:nth-child(#{$galleryColumnsXL}n + 1) {
    //   img {
    //     margin-bottom: $galleryMarginXL;
    //     margin-right: $galleryMarginXL;
    //   }
    // }
  }
}
@media (min-width: $layoutWidth2XL) {
  .gallery {
    .gallery-item {
      width: ($wrapperWidth2XL - ($galleryMargin * $galleryColumns2XL)) / $galleryColumns2XL;
    }

    // &:nth-child(#{$galleryColumns2XL}n + 1) {
    //   img {
    //     margin-bottom: $galleryMargin2XL;
    //     margin-right: $galleryMargin2XL;
    //   }
    // }
  }
}
