.header {
  display: flex;
  justify-content: center;
  margin: 2rem 0;

  &-logo {
    height: 5rem;
  }
}

.wrapper {
  flex-grow: 1;
}

.wrapper {
  margin: $wrapperMarginXS;
  width: $wrapperWidthXS;
}
@media (min-width: $layoutWidthS) {
  .wrapper {
    margin: $wrapperMarginS;
    width: $wrapperWidthS;
  }
}
@media (min-width: $layoutWidthM) {
  .wrapper {
    margin: $wrapperMarginM;
    width: $wrapperWidthM;
  }
}
@media (min-width: $layoutWidthL) {
  .wrapper {
    margin: $wrapperMarginL;
    width: $wrapperWidthL;
  }
}
@media (min-width: $layoutWidthXL) {
  .wrapper {
    margin: $wrapperMarginXL;
    width: $wrapperWidthXL;
  }
}
@media (min-width: $layoutWidth2XL) {
  .wrapper {
    margin: $wrapperMargin2XL;
    width: $wrapperWidth2XL;
  }
}
