$galleryColumnsXS: 2;
$galleryColumnsS: 2;
$galleryColumnsM: 2;
$galleryColumnsL: 2;
$galleryColumnsXL: 2;
$galleryColumnsXXL: 2;
$galleryMargin: 1rem;

$layoutWidthXS: 20rem;
$layoutWidthS: 40rem;
$layoutWidthM: 60rem;
$layoutWidthL: 80rem;
$layoutWidthXL: 100rem;
$layoutWidth2XL: 120rem;
